<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= series.title %> - Volumes</title>
  <link rel="stylesheet" href="/views/public/styles/fonts.css">
  <link rel="stylesheet" href="/views/library/library.css"> 
</head>
<body class="library-body">
    <a href="/library" class="library-back-link">&larr; Back to Library</a>
    
    <div class="library-container">
        <h1 class="library-title"><%= series.title %></h1>
        <div class="library-grid">
            <% series.volumes.forEach(vol => { %>
                <a href="/library/series/<%= series._id %>/volume/<%= vol._id %>" class="library-card">
                    <div class="library-card-image">
                        <img src="<%= vol.coverImage %>" alt="Volume Cover">
                    </div>
                    <div class="library-card-info">
                        <h3 class="library-card-title">Volume <%= vol.index %></h3>
                        <div class="library-card-meta"><%= vol.title %></div>
                    </div>
                </a>
            <% }) %>
        </div>
    </div>
</body>
</html>