<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <% if (typeof extraStyles !== 'undefined') { %>
        <%- extraStyles %>
    <% } %>
</head>
<body class="<%= typeof bodyClass !== 'undefined' ? bodyClass : '' %>">
    <%- include('../partials/header') %>

    <main id="main-content">
        <%- body %>
    </main>

    <script>
        window.APP_CONFIG = <%- typeof config !== 'undefined' ? JSON.stringify(config) : '{}' %>;
    </script>

    <!-- Icon Packages -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <% if (typeof extraScripts !== 'undefined') { %>
        <%- extraScripts %>
    <% } %>
</body>
</html>
